<h2>ALL USERS</h2>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>About</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |f| %>
      <tr>
        <td><%= link_to f.user_name, f %></td>
        <td><%= f.about %></td>
      </tr>
    <% end %>
  </tbody>
</table>
